.wrapper__btn {
  margin: 0 auto;
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  text-align: center;
  width: 15%;
  height: 10%;
  margin-right: 5%;
  background-color: rgb(94, 7, 121);
  color: white;
  font-size: 30px;
  border: solid 5px rgb(245, 244, 245);
}
.btn:active {
  background-color: rgb(38, 3, 43);
}
