.span__warning {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
  width: 40%;
  height: 200px;
  background-color: rgb(96, 10, 131);
  border: solid 4px white;
  color: white;
  font-size: 70px;
  padding-top: 2%;
}
