.list__statistic {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  align-content: center;
  text-align: center;
}
.list__statistic__el {
  width: 16%;
  padding: 10px 0;
  border: solid 4px white;
  background-color: rgb(113, 13, 170);
  color: white;
  font-size: 30px;
}
